{% load static %}

<!DOCTYPE html>
<html lang='en-IN'>
<head>
  <title> UTM- Edit Profile </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
  integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
  integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'tasks/headnav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'tasks/taskboard.css' %}">

  <script>
  //Sets minimum date for due date to today
    function displayProfile(){ //Gets the tasks associated with the user and displays them.
    $.ajax({
    url: "/api/auth/me/",
    headers: {"Authorization": "Bearer " + sessionStorage.getItem('access_token')},
    type: "GET",
    success: function(data){
      console.log(data);
      $("#first_name").val(data.first_name);
      $("#last_name").val(data.last_name);
      $("#email").html(data.email);
      $("#bio").val(data.bio);
      $("#discord").val(data.discord_webhook_url);
      if(data.email_notifications_enabled){
        $("#email_notification").val("True");
      } else{
        $("#email_notification").val("False");
      }
      if(data.discord_notifications_enabled){
        $("#discord_notification").val("True");
      } else{
        $("#discord_notification").val("False");
      }
      $('#rem').val(data.remind_duration);
     }
  })
  .fail(function(){
     $(location).attr('href', '/login');
  })
}

  function saveChanges(){
    var fname = $("#first_name").val();
    var lname =$("#last_name").val();
    var bio = $("#bio").val();
    var webhook = $("#discord").val();
    var en = $("#email_notification").val();
    var dn = $("#discord_notification").val();
    var rem = $("#rem").val();
    $.ajax({
    url: "/api/auth/me/",
    headers: {"Authorization": "Bearer " + sessionStorage.getItem('access_token')},
    type: "POST",
    data: {first_name:fname,
      last_name:lname,
      bio: bio,
      discord_webhook_url: webhook,
      email_notifications_enabled: en,
      discord_notifications_enabled:dn,
      remind_duration: rem
    },
    success: function(){
      $(location).attr('href', '/profile');
    }
  })
  .fail(function(){
     alert("Changes not saved");
  })
  }
  function resetUserPassword(){
    $(location).attr('href', '/resetuserpw');
  }
  </script>
</head>
<body onload="displayProfile()">
<div class="container-fluid">
    <div class="row sticky-top">
      <div class="col">
        <header>
           Ultimate Task Manager
        </header>
      </div>
    </div>
    <div class="row min-vh-100 flex-column flex-md-row">
        <aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-1">
          <nav class="navbar navbar-expand navbar-dark flex-md-column flex-row align-items-start py-2">
              <div class="collapse navbar-collapse ">
                  <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                      <li class="nav-item">
                          <a class="nav-link pl-0 text-nowrap" href="/profile"><i class="fas fa-user-circle fa-fw"></i> <span class="d-none d-md-inline">My Account</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link pl-0" href="/taskboard"><i class="fas fa-tasks fa-fw"></i> <span class="d-none d-md-inline">My Tasks</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link pl-0" href="/labels"><i class="fas fa-tags"></i> <span class="d-none d-md-inline">My Labels</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link pl-0" href="/signout"><i class="fas fa-sign-out-alt fa-fw"></i> <span class="d-none d-md-inline">Sign Out</span></a>
                      </li>
                  </ul>
              </div>
          </nav>
        </aside>
        <main class="col bg-faded py-3 flex-grow-1">
          <div class="card">
            <div class="card-header">
              Edit Account Information
            </div>
            <div class="card-body">
              <h4> <u> Personal Details </u> </h4>
              <h6> <em> Note: A valid Discord webhook is required for Discord notifications to be sent. </em> </h6>
              <table>
                <tr>
                  <th> Email ID : </th>
                  <td id="email"> </td>
                </tr>
                <tr>
                  <th> Discord Webhook: </th>
                  <td> <input type="text" id="discord"> </input> </td>
                </tr>
                <tr>
                  <th> First Name : </th>
                  <td> <input type="text" id="first_name"> </input> </td>
                </tr>
                <tr>
                  <th> Last Name : </th>
                  <td> <input type="text" id="last_name"> </input> </td>
                </tr>
                <tr>
                  <th> Bio: </th>
                  <td> <input type="text" id="bio"> </td>
                </tr>
              </table>
              <br>
              <h4> <u> Notification Preferences </u> </h4>
              <h6> <em> Note: Reminders will only be sent if either email or Discord notifications are enabled. </em> </h6>
              <table>
                <tr>
                  <th> Email Notifications: </th>
                  <td><select name="email_notification" id="email_notification">
                    <option value="False">No</option>
                    <option value="True">Yes</option>
                  </select></td>
                </tr>
                <tr>
                  <th> Discord Notifications: </th>
                  <td><select name="discord_notification" id="discord_notification">
                    <option value="False">No</option>
                    <option value="True">Yes</option>
                  </select></td>
                </tr>
                <tr>
                  <th> Reminders: </th>
                  <td> <input type="number" id="rem" style="width:27%" min=1 max=99> </input> </td>
                </tr>
              </table>
              <div style="float:right; margin:5px">
                <button class="editpb" onclick="saveChanges()"> Save Changes </button>
               </div>
               <div style="float:right; margin:5px">
                 <button  class="editpb" onclick="resetUserPassword()"> Reset Password </button>
                </div>
            </div>
          </div>
        </main>
    </div>
</div>

</body>
</html>
