{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale = 1">

			<title>Ultimate Time</title>

			<!-- Style sheets -->
			<link rel="stylesheet" href="{% static 'tasks/reset.css' %}" type="text/css"> <!-- CSS reset -->
			<link rel="stylesheet" href="{% static 'tasks/index.css' %}" type="text/css"> <!-- main styling -->
      </head>
         <style>
            body {
              background-image: url('{% static "tasks/home_bg.png" %}');
            }
        </style> 

        <body>
            <section id="section2" class="cd-section" data-parallax="scroll">
                <span class="main-nav">
                    <a class="cd-signin" href="/login">Sign in</a>
                </span>
                <h1>Start planning today, and change your world.</h1>
                <span class="section-nav">
                    <ul>
                        <li><a id="signup" class="cd-signup" href="/sign-up">Get Started</a></li>
                    </ul>
                </span>
                <!--a href="#section2" class="cd-scroll-down cd-img-replace">scroll down</a-->
            </section>
        </body>
</html>
