{% load static %}

<!DOCTYPE html>
<html lang='en-IN'>
<head>
  <title> UTM- Login </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'tasks/headnav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'tasks/login.css' %}">
  <script>
    $(document).ready(function(){
      $("form").submit(function(event){
        event.preventDefault();
        var id = $("#email").val();
        var pwd = $("#pwd").val();
        var otp = $("#otp").val();
        data={};
        data.email = id;
        data.password = pwd;
        if($("#tfacheck").prop("checked")){
          console.log("Hello");
          data.otp = otp;
        }
        $.post("/api/auth/login/", data, function(data){
          sessionStorage.setItem('access_token', data.access_token);
          sessionStorage.setItem('refresh_token', data.refresh_token);
          $(location).attr('href', '/profile');
        })
        .fail(function(data){
          if (data.responseJSON.error=="User has 2FA enabled. otp not found or is invalid."){
            alert("This account has 2FA enabled.\n OTP not found or invalid.");
          } else {
            alert("Invalid Login Credits");
          }
        })
      });
    });
    function tfaview(){
      if($("#tfacheck").prop("checked")){
        $("#tfarow").css("display", "table-row");
      } else {
        $("#tfarow").css("display", "none");
      }
    }
  </script>

</head>
<body>
<div class="container-fluid">
  <div class="row sticky-top">
      <div class="col">
        <header>
           Ultimate Task Manager
        </header>
      </div>
  </div>
    <div class="row min-vh-100">
      <div class="col-md-4"> <p style="display:none"> Not Empty </p> </div>
      <div class="col-md-4">
        <div class="card" style="text-align:center">
          <div class="card-header" style="text-align:left">
            Login
          </div>
          <div class="card-body">
            <form>
              <table style="margin:auto">
                <tr>
                  <th><label class="fas fa-envelope" for="email"></label> </th>
                  <td>
                    <input type="text" id="email" name = "email" placeholder="Email ID"> </input>
                  </td>
                </tr>
                <tr> <td> <br> </td> </tr>
                <tr>
                  <th> <label for="password" class="fas fa-lock"> </label> </th>
                  <td>
                    <input type="password" id="pwd" name="password" placeholder="Password"> </input>
                  </td>
                </tr>
                <tr>
                  <td colspan=2> <a href="/forgot" style="font-size:12px;float:right"> Forgot Password? </a> </td>
                </tr>
                <tr> <td> <br> </td> </tr>
                <tr id="tfarow" style="display:none">
                  <th><label class="fas fa-key" for="otp"></label> </th>
                  <td>
                    <input type="password" id="otp" name = "otp" placeholder="OTP"> </input>
                  </td>
                </tr>
                <tr> <td> <br> </td> </tr>
              </table>
              <div>
                <input type="checkbox" style="width:5%" name="tfacheck" id="tfacheck" onclick="tfaview()">
                <label id="tfachecklabel" for="tfacheck"> I have 2FA enabled</label>
              </div>
              <div>
              <input type="submit" style="width:30%" value="Login"> </input>
              <!-- <button id="submit_button" value="Submit" name="Submit">Submit</button> -->
            </form>
            <br>
            <div style="font-size:12px">
              <a href="/sign-up"> Don't have an account?<br> Sign Up for free here! </a>
            </div>
          </div>
        </div>
    </div>
</div>

</body>
</html>
