{% load static %}

<!DOCTYPE html>
<html lang='en-IN'>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'tasks/headnav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'tasks/login.css' %}">
  <script>
    $(document).ready(function(){
      $("form").submit(function(event){
        event.preventDefault();
        var id = $("#email").val();
        var pwd = $("#pwd").val();
        $.post("/api/auth/login/", {email: id, password: pwd}, function(data){
          localStorage.setItem('access_token', data.access_token);
          localStorage.setItem('refresh_token', data.refresh_token);   
        });
      });
    });
  </script>

</head>
<body>
<div class="container-fluid">
  <div class="row sticky-top">
      <div class="col">
        <header>
           Ultimate Task Manager
        </header>
      </div>
  </div>
    <div class="row min-vh-100">
      <div class="col-md-4"> <p style="display:none"> Not Empty </p> </div>
      <div class="col-md-4">
        <div class="card" style="text-align:center">
          <div class="card-header" style="text-align:left">
            Login
          </div>
          <div class="card-body">
            <form>
              <table style="margin:auto">
                <tr>
                  <th><label class="fas fa-envelope" for="email"></label> </th>
                  <td>
                    <input type="text" id="email" name = "email" placeholder="Email ID"> </input>
                  </td>
                </tr>
                <tr> <td> <br> </td> </tr>
                <tr>
                  <th> <label for="password" class="fas fa-lock"> </label> </th>
                  <td>
                    <input type="password" id="pwd" name="password" placeholder="Password"> </input>
                  </td>
                </tr>
                <tr>
                  <td colspan=2> <a href="/forgot" style="font-size:12px;float:right"> Forgot Password? </a> </td>
                </tr>
                <tr> <td> <br> </td> </tr>
              </table>
              <input type="submit" style="width:30%" value="Login"> </input>
              <!-- <button id="submit_button" value="Submit" name="Submit">Submit</button> -->
            </form>
            <br>
            <div style="font-size:12px">
              <a href="/sign-up"> Don't have an account?<br> Sign Up for free here! </a>
            </div>
          </div>
        </div>
    </div>
</div>

</body>
</html>
