{% load static %}

<!DOCTYPE html>
<html lang='en-IN'>
<head>
  <title> UTM- Profile </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
  integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
  integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"> </script>

  <link rel="stylesheet" type="text/css" href="{% static 'tasks/headnav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'tasks/taskboard.css' %}">

  <style>
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  </style>

  <script>
  //Sets minimum date for due date to today
    function displayProfile(){ //Gets the tasks associated with the user and displays them.
    $.ajax({
    url: "/api/auth/me/",
    headers: {"Authorization": "Bearer " + sessionStorage.getItem('access_token')},
    type: "GET",
    success: function(data){
      console.log(data);
      $("#first_name").html(data.first_name);
      $("#last_name").html(data.last_name);
      $("#email").html(data.email);
      $("#discord").html(data.discord_webhook_url.slice(0, 40) + "...");
      $("#bio").html(data.bio);
      if (data.email_notifications_enabled){
        $("#email_notification").html("Yes");
      } else{
        $("#email_notification").html("No");
      }
      if(data.discord_notifications_enabled){
        $("#discord_notification").html("Yes");
      } else{
        $("#discord_notification").html("No");
      }
      $("#rem").html((data.remind_duration.toString()).concat(" days before the due date."));
      if(data.two_factor_enabled){
        $("#twofatoggle").prop("checked", true);
      } else {
        $("#twofatoggle").prop("checked", false);
      }
     }
  })
  .fail(function(){
     $(location).attr('href', '/login');
  })
}
  function editProfile() {
      $(location).attr('href', '/editprofile');
  };
  function twofa(){
    if($("#twofatoggle").prop('checked')){
      $.ajax({
      url: "/api/auth/2fa/",
      headers: {"Authorization": "Bearer " + sessionStorage.getItem('access_token')},
      type: "GET",
      success: function(data){
        $('#qrcode').qrcode(data.uri);
        $("#secret").html(data.secret);
        $('#myModal').modal('show');
      }
    })
    .fail(function(){
       $(location).attr('href', '/login');
    })
  } else{
    $("#qrcode").empty();
    $.ajax({
    url: "/api/auth/2fa/",
    headers: {"Authorization": "Bearer " + sessionStorage.getItem('access_token')},
    type: "DELETE",
  })
  .fail(function(){
     $(location).attr('href', '/login');
  })
  }
}
  </script>
</head>
<body onload="displayProfile()">
<div class="container-fluid">
  <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header add">
        Scan QR Code
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="text-align: center">
        <div style="text-align:left"> Two-factor authentication has been enabled. Scan the QR Code below with Google Authenticator (or any equivalent) for your next login </div>
        <div style="display: inline-block" id="qrcode"></div>
        <div id="secret"> </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
    <div class="row sticky-top">
      <div class="col">
        <header>
           Ultimate Task Manager
        </header>
      </div>
    </div>
    <div class="row min-vh-100 flex-column flex-md-row">
        <aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-1">
          <nav class="navbar navbar-expand navbar-dark flex-md-column flex-row align-items-start py-2">
              <div class="collapse navbar-collapse ">
                  <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                      <li class="nav-item">
                          <a class="nav-link pl-0 text-nowrap" href="/profile"><i class="fas fa-user-circle fa-fw"></i> <span class="d-none d-md-inline">My Account</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link pl-0" href="/taskboard"><i class="fas fa-tasks fa-fw"></i> <span class="d-none d-md-inline">My Tasks</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link pl-0" href="/labels"><i class="fas fa-tags"></i> <span class="d-none d-md-inline">My Labels</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link pl-0" href="/signout"><i class="fas fa-sign-out-alt fa-fw"></i> <span class="d-none d-md-inline">Sign Out</span></a>
                      </li>
                  </ul>
              </div>
          </nav>
        </aside>
        <main class="col bg-faded py-3 flex-grow-1">
          <div class="card">
            <div class="card-header">
              Account Information
              <span style= "float:right" data-toggle="tooltip" title="Edit Account Information">
                <button class="add-button" onclick="editProfile()">
                  <i class="fas fa-user-edit"></i>
                </button>
              </span>
            </div>
            <div class="card-body">
              <h4> <u> Personal Details </u> </h4>
              <h6> <em> Note: A valid Discord webhook is required for Discord notifications to be sent. Find out more <a href="https://support.discord.com/hc/en-us/articles/228383668-Intro-to-Webhooks" target="_blank">here</a> </em> </h6>
              <table>
                <tr>
                  <th> Email ID: </th>
                  <td id="email"> </td>
                </tr>
                <tr>
                  <th> Discord Webhook: </th>
                  <td id="discord"> </td>
                </tr>
                <tr>
                  <th> First Name: </th>
                  <td id="first_name"> </td>
                </tr>
                <tr>
                  <th> Last Name: </th>
                  <td id="last_name"> </td>
                </tr>
                <tr>
                  <th> Bio: </th>
                  <td id="bio"> </td>
                </tr>
              </table>
              <br>
              <h4> <u> Notification Preferences </u> </h4>
              <h6> <em> Note: Reminders will only be sent if either email or Discord notifications are enabled. </em> </h6>
              <table>
                <tr>
                  <th> Email Notifications: </th>
                  <td id="email_notification"></td>
                </tr>
                <tr>
                  <th> Discord Notifications: </th>
                  <td id="discord_notification"> </td>
                </tr>
                <tr>
                  <th> Reminders: </th>
                  <td id="rem"> </td>
                </tr>
              </table>
              <br>
              <h4> <u> Security Preferences </u> </h4>
              <table>
                <tr>
                  <label class="switch">
                    <input type="checkbox" id="twofatoggle" onclick="twofa()">
                    <span class="slider round"></span>
                  </label>
                  <span>  Enable 2-factor authentication </span>
                </tr>
              </table>
            </div>
          </div>
        </main>
    </div>
</div>

</body>
</html>
