{% load static %}

<!DOCTYPE html>
<html lang='en-IN'>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'tasks/headnav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'tasks/login.css' %}">

  <script>
  </script>
</head>
<body>
<div class="container-fluid">
  <div class="row sticky-top">
      <div class="col">
        <header>
           Ultimate Task Manager
        </header>
      </div>
  </div>
    <div class="row min-vh-100">
      <div class="col-md-4"> <p style="display:none"> Not Empty </p> </div>
      <div class="col-md-4">
        <div class="card" style="text-align:center">
          <div class="card-header" style="text-align:left">
            Sign Up
          </div>
          <div class="card-body">
            <form id = "signupform">
              <table style="margin:auto">
                <tr>
                  <td>
                    <input type="text" id="first_name" name="first_name" placeholder="First Name"> </input>
                  </td>
                </tr>
                <tr> <td> <br> </td> </tr>
                <tr>
                  <td>
                    <input type="text" name="last_name" placeholder="Last Name"> </input>
                  </td>
                </tr>
                <tr> <td> <br> </td> </tr>
                <tr>
                  <td>
                    <input type="text" id="email" name = "email" placeholder="Email ID"> </input>
                  </td>
                </tr>
                <tr> <td> <br> </td> </tr>
                <tr>
                  <td>
                    <input type="password" id="password" name="password" placeholder="Password"> </input>
                  </td>
                </tr>
                <tr> <td> <br> </td> </tr>
              </table>
              <input type="submit" style="width:30%" value="Sign Up"> </input>
            </form>
            <br>
            <div style="font-size:12px">
              <a href="/login"> Have an existing account?<br> Log In here! </a>
            </div>
          </div>
        </div>
    </div>
</div>

</body>
</html>
