{% load static %}

<!DOCTYPE html>
<html lang='en-IN'>
<head>
  <title> UTM- Taskboard </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
  integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
  integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'tasks/headnav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'tasks/taskboard.css' %}">

  <script>
    $(document).ready(function () {
      $('[data-toggle="popover"]').popover(); //Allows popovers to function
      SetDate();
      DisplayTasks();
      AddLabels();
      $('#addModal').on('hide.bs.modal', function () {
        RevertChanges();
      })

    });
    function SetDate(){
      //Sets minimum date for due date to today
      var today = new Date();
      var day=today.getDate()>9?today.getDate():"0"+today.getDate(); // format should be "DD" not "D" e.g 09
      var month=(today.getMonth()+1)>9?(today.getMonth()+1):"0"+(today.getMonth()+1);
      var year=today.getFullYear();
      $("#DueDate").attr('min', year + "-" + month + "-" + day);
      $("#DueDate").val(year + "-" + month + "-" + day);
    }
    function DisplayTasks(data={"page":"1"}){
         $.ajax({
           url: "/api/main/tasks/",
           headers: {"Authorization": "Bearer " + sessionStorage.getItem('access_token')},
           type: "GET",
           data: data,
           success: function(taskdata){
             $("#taskboard").empty();
             var len= taskdata.data.length;
             var color = "#20368F";
             for (var i=0; i<len; i++){
               if(taskdata.data[i].priority=='H'){
                 color = "#B60A1C";
               } else if (taskdata.data[i].priority=='M'){
                 color = "#E39802";
               } else {
                 color = "#309143";
               }
               if (taskdata.data[i].labels.length==0){
                 var labels = "None";
               }
               else {
                 var labels = "";
                 for (var j=0; j<taskdata.data[i].labels.length; j++){
                   labels = labels.concat(taskdata.data[i].labels[j].name + ' ');

                 }
               }
               var col = $( '<div class="col-sm-4" </div>' ).appendTo('#taskboard');
               var task = $('<p class="task"> </p>').appendTo(col);
               task.css("background-color", color);
               task.append('<span onclick="ViewTask(\'' + taskdata.data[i].uuid + '\')"> <span class = "clickable" data-toggle="modal" data-target="#addModal"> <b>' + taskdata.data[i].name + '</b></span> </span>');
               task.append('<br> Due On: ' + taskdata.data[i].due_on.slice(0,10));
               task.append('<br> Labels: ' + labels);
               task.append('<br> <button onclick="DelTask(\'' + taskdata.data[i].uuid + '\')" style="float:right" class="fas fa-trash-alt task-button"></button>');
               task.append('<span data-toggle="modal" data-target="#addModal"><button onclick="EditTask(\'' + taskdata.data[i].uuid + '\')" style="float:right" class="fas fa-edit task-button edit-button"></button></span>');
             }
           }
         })
         .fail(function(){
           $(location).attr('href', '/login');
         })
       }
    function AddLabels(){
      $.ajax({
        url: "/api/main/labels/",
        headers: {"Authorization": "Bearer " + sessionStorage.getItem('access_token')},
        type: "GET",
        success: function(data){
          var length = data.length;
          for (var i=0; i<data.length; i++){
            var id = data[i].uuid;
            var name= data[i].name;
            $("#filterLabels").append('<option value =' + id + '>' + name + '</option>');
            if (i==0){
              $("#first_label").append('<input type="checkbox" id='+ data[i].uuid +'><label for='+ data[i].uuid + '> '+ data[i].name + '</label><br>');
            }
            else{
              var row = $("<tr></tr>").appendTo("#addTask");
              row.append("<th> </th>");
              row.append('<td> <input type="checkbox" id='+ data[i].uuid+'><label for='+ data[i].uuid + '> '+ data[i].name + '</label><br> </td>');

            }
          }
          var row = $("<tr></tr>").appendTo("#addTask");
          row.append("<th> </th>");
          row.append('<td></td>');
        }
        })
    }
    function FilterTasks(){
      $("#taskboard").empty();
      var selected_label = $("#filterLabels").children("option:selected").val();
      var fdata = {"page":"1"};
      if (selected_label){
        fdata.labels = selected_label;
      }
      //lte is before gte is after
      var from_date = $("#FromDate").val();
      var to_date = $("#ToDate").val();
      if (from_date){
        fdata.due_on__gte = from_date;
      }
      if (to_date){
        fdata.due_on__lte = to_date;
      }
      var selected_priority = $("#filterPriority").children("option:selected").val();
      if (selected_priority){
        fdata.priority = selected_priority;
      }
      DisplayTasks(data=fdata);
    }
    function subtaskAdd(){
      // Get the checkbox
      var checkBox = document.getElementById("subtaskcheck");
      // Get the output text
      var stb = document.getElementById("subtaskblock"); //stb=subtaskblock

      // If the checkbox is checked, display the output text
      if (checkBox.checked == true){
        stb.style.display = "block";
      } else {
        stb.style.display = "none";
      }
    }
    function GetData(){
      var data = {};

      var task = $("#task").val();
      data.name = task;

      var desc = $("#taskdesc").val();
      data.desc = desc;

      var status = $("#status").val();
      data.status = status;

      var priority= $("#priority").val()
      data.priority = priority;

      var due_on = $("#DueDate").val();
      data.due_on = due_on;

      var labels = [];
      $('#addTask').find('input[type="checkbox"]:checked').each(function(){
        lab_id = this.id;
        labels.push(lab_id);
      })
      data.labels = labels;
      return data;
    }
    function AddTask(){
      data = GetData(); //Consolidating the data
      //Making the request
      $.ajax({
        url: "/api/main/tasks/",
        headers: {"Authorization": "Bearer " + sessionStorage.getItem('access_token')},
        type: "POST",
        data: data,
        success: function(taskdata){
          alert("Task created successfully")
          location.reload();
        }
      })
      .fail(function(){
        alert("Task creation failed");
      })

    }
    function DelTask(taskid){
        var confirm = window.confirm("Are you sure you want to delete the task?");
        if (confirm){
          //Making the required URL with task uuid
          var url = ("/api/main/tasks/").concat(taskid);
          var url = url.concat('/');
          //Sending the request
          $.ajax({
            url: url,
            headers: {"Authorization": "Bearer " + sessionStorage.getItem('access_token')},
            type: "DELETE",
            success: function(data){
              alert("Task deleted successfully");
              DisplayTasks();
            }
            })
            .fail(function(){
              alert("Deletion Error");
            })
        }
    }
    function EditTask(taskid){
      $("#addModalhead").html("Edit Task");
      var url = ("/api/main/tasks/").concat(taskid);
      url = url.concat('/');
      var func= ("SubmitEdit('").concat(url);
      func = func.concat("')");
      $("#submit").attr("onclick", func);
      $("#submit").html("Edit Task");
      GetTask(url);


    }
    function SubmitEdit(url){
      var data = GetData();
      $.ajax({
        url: url,
        headers: {"Authorization": "Bearer " + sessionStorage.getItem('access_token')},
        type: "POST",
        data: data,
        success: function(data){
          alert("Edited successfully");
          location.reload();
        }
        })
        .fail(function(){
          alert("Editing error");
        })
    }
    function GetTask(url){
      $.ajax({
        url: url,
        headers: {"Authorization": "Bearer " + sessionStorage.getItem('access_token')},
        type: "GET",
        success: function(data){
          $("#task").val(data.name);
          $("#taskdesc").val(data.desc);
          $("#DueDate").val(data.due_on.slice(0,10));
          $("#status").val(data.status);
          $("#priority").val(data.priority);
          data.labels.forEach(function(item){
            $("#"+item.uuid).prop("checked", true);

          })
        }
        })
        .fail(function(){
          return NULL;
        })
    }
    function ViewTask(taskid){
      //Make changes
      $("#addModalhead").html("Task Details");
      $(".nfv").css("display", "none");
      var url = ("/api/main/tasks/").concat(taskid);
      var url = url.concat('/');
      GetTask(url);
      $( "#task" ).prop( "disabled", true );
      $( "#taskdesc" ).prop( "disabled", true );
      $("#DueDate").prop("disabled", true);
      $("#status").prop("disabled", true);
      $("#priority").prop("disabled", true);
      $('#addTask input[type=checkbox]').attr('disabled',true);
    }
    function RevertChanges(){
      $("#addModalhead").html("Add Task");
      $("#submit").attr("onclick", "AddTask()");
      $("#submit").html("Add Task");
      $(".nfv").css("display", "block");
      $("#task").val("");
      $("#taskdesc").val("");
      SetDate();
      $("#status").val("N");
      $("#priority").val("M");
      $('#addTask input[type=checkbox]').prop('checked',false);
      $( "#task" ).prop( "disabled", false );
      $( "#taskdesc" ).prop( "disabled", false );
      $("#DueDate").prop("disabled", false);
      $("#status").prop("disabled", false);
      $("#priority").prop("disabled", false);
      $('#addTask input[type=checkbox]').attr('disabled',false);
    }
  </script>
</head>
<body>
<div class="container-fluid">
  <!--Modal for Add Task -->
  <div class="modal" id="addModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header add">
          <span id = "addModalhead"> Add A New Task </span>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <table id="addTask">
              <tr>
                <th> <label for="task"> Task:  </label> </th>
                <td> <input name="task" id="task" type="text" maxlength="200"> </input> </td>
              </tr>
              <tr>
                <th> <label for="taskdesc"> Description:  </label> </th>
                <td> <textarea name="taskdesc" id="taskdesc"> </textarea> </td>
              </tr>
              <tr>
                <th> <label for="due_date"> Due Date: </label> </th>
                <td> <input type="date" name= "due_date" id="DueDate" min="2020-05-24"> </input> </td>
              </tr>
              <tr>
                <th> <label for="priority">Priority:</label> </th>
                <td> <select name="priority" id="priority">
                  <option value="H">High</option>
                  <option value="M">Moderate</option>
                  <option value="L">Low</option>
                </select> </td>
              </tr>
              <tr>
                <th> <label for="status">Status:</label> </th>
                <td> <select name="status" id = "status">
                  <option value="N">New</option>
                  <option value="IP">In-Progress</option>
                  <option value="C">Complete*</option>
                </select> </td>
              </tr>
              <tr>
                <th> Labels: </th>
                <td id="first_label">
                </td>
              </tr>
            </table>
            <!-- The table ended here so that append can be used to dynamically add the labels-->
            <table>
              <tr> </tr>
              <tr>
                <td colspan=2>
                  <input type="checkbox" id="subtaskcheck" onclick="subtaskAdd()">
                  <label for="subtaskcheck"> Add sub-tasks</label><br>
              </tr>
          </table>
          <div id="subtaskblock" style="display:none">
            How do I add sub-tasks?
          </div>
          <p style="font-size:13px">
              <em> *Complete Tasks will be archived by default and will not appear on taskboard </em> </td>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger nfv" onclick="RevertChanges()" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary nfv" data-dismiss="modal" id="submit" onclick="AddTask()">Add Task</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal for Filtering -->
<div class="modal" id="filterModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header add">
        Filter Tasks
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <table>
          <tr>
          <th> <label for="filterLabels"> Label </label> </th>
          <td>
            <select name="filterLabels" id="filterLabels">
              <option value="">All Labels</option>
            </select>
          </td>
        </tr>
        <tr>
          <th> <label for="from_date"> From: </label> </th>
          <td> <input type="date" id="FromDate"> </input> </td>
        </tr>
          <tr>
            <th> <label for="to_date"> To: </label> </th>
            <td> <input type="date" id="ToDate"> </input> </td>
          </tr>
          <tr>
            <th> <label for="priority">Priority:</label> </th>
            <td> <select name="priority" id="filterPriority">
              <option value=""> Any </option>
              <option value="H">High</option>
              <option value="M">Moderate</option>
              <option value="L">Low</option>
            </select> </td>
          </tr>
        </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="DisplayTasks()">Reset Filters</button>
        <button type ="button" class="btn btn-primary" data-dismiss="modal" onclick="FilterTasks()"> Apply Filters </button>
      </div>

    </div>
  </div>
</div>
 <!--Main Body -->
    <div class="row sticky-top">
      <div class="col">
        <header>
           Ultimate Task Manager
        </header>
      </div>
    </div>
    <div class="row min-vh-100 flex-column flex-md-row">
        <aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-1">
          <nav class="navbar navbar-expand navbar-dark flex-md-column flex-row align-items-start py-2">
              <div class="collapse navbar-collapse ">
                  <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                      <li class="nav-item">
                          <a class="nav-link pl-0 text-nowrap" href="/profile"><i class="fas fa-user-circle fa-fw"></i> <span class="d-none d-md-inline">My Account</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link pl-0" href="/taskboard"><i class="fas fa-tasks fa-fw"></i> <span class="d-none d-md-inline">My Tasks</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link pl-0" href="/labels"><i class="fas fa-tags"></i> <span class="d-none d-md-inline">My Labels</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link pl-0" href="/signout"><i class="fas fa-sign-out-alt fa-fw"></i> <span class="d-none d-md-inline">Sign Out</span></a>
                      </li>
                  </ul>
              </div>
          </nav>
        </aside>
        <main class="col bg-faded py-3 flex-grow-1">
          <div class="card">
            <div class="card-header">
              My Tasks
              <!-- The button is wrapped in a span to use 2 data toggle arguments -->
              <span style= "float:right" data-toggle="tooltip" title="Filter Tasks">
                <button class="add-button" data-toggle="modal" data-target="#filterModal">
                  <i class="fas fa-filter"></i>
                </button>
              </span>
              <span style= "float:right" data-toggle="tooltip" title="Add a New Task">
                <button class="add-button" data-toggle="modal" data-target="#addModal">
                  <i class="fas fa-plus"></i>
                </button>
              </span>
            </div>
            <div class="card-body">
              <div class="row" id="taskboard">
              </div>
            </div>
          </div>
        </main>
    </div>
</div>

</body>
</html>
