body{
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card{
  margin-right: auto;
  margin-left: auto;
  margin-top:10%;
  margin-bottom:10%;
}

.card-header{
  background-color:#CD9703 ;
  color: #00172D;
  font-weight: bold;
  font-size: 20px;
}
td {
  width: auto;
}


input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    }
