
.card{
  margin: auto;
  width:60%;
}


.task {
  background-color: #20368F;
  color: white;
  padding:10px;
  padding-bottom: 25px;
  border-radius: 10px;
}
.task-button{
  background-color: inherit;
  color: inherit;
  border:0px;
  width:10%;
}
.edit-button{
  margin-right: 5px;
}
.card-header{
  background-color:#CD9703 ;
  color: #00172D;
  font-weight: bold;
  font-size: 20px;
}
label{
display:inline-block;
margin-right: 30px;
font-size:17px;
}

.add-button{
  background-color:inherit;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  border: 0px;
}

.add{
  background-color:#00172D;
  color:#CD9703 ;
  font-weight: bold;
  font-size: 20px;
}

input[type="text"]:disabled {
  background: white;
  border: 0px;
  color: black;
}

:disabled {
  background: white;
  border: 0px;
  color: black;
}

.editpb{
  background-color:#00172D ;
  color: #CD9703;
  padding: 10px;
  border-radius:10px;
}
